{% extends 'base.html.twig' %}

{% block body %}
    <h1>Students list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Num Etud</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td><a href="{{ path('student_show', { 'id': student.id }) }}">{{ student.id }}</a></td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.numEtud }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{ path('student_show', { 'id': student.id }) }}">Show</a>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="{{ path('student_edit', { 'id': student.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary btn-add"href="{{ path('student_new') }}">Create a new student</a>
        </li>
    </ul>
{% endblock %}


{% block stylesheets %}
<style>
    ul {
        list-style-type: none;
        padding: 0;
    }
    .btn {
        width: 5em;
    }
    .btn-add {
        width: 12em;
    }
    }
</style>
{% endblock %}
